<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%= page %></title>
</head>
<body>
    <header>
        <h1><%= page %></h1>
        <% if (userId) { %>
            <a href="/home" id="home">Home</a>
        <% } else { %>
            <a href="/" id="home">Home</a>
        <% } %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <% if (userId) { %>
            <form method="post" action="/logout">
                <button>Logout</button>
            </form>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } %>
        
    </footer>
</body>
</html>