<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>

<body>
    <div>
        <header>
            <h1>Login</h1>
            <a href="/" id="home">Home</a>
        </header>

        <form action="/login" method="post">
            Username: <input type="text" name="username" required><br><br>
            Password: <input type="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>

        <p id="message">message</p>

        <footer>
            <a href="/register">Register</a>
        </footer>
        
    </div>
    <script>
        // Function to get query parameters from the URL
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Get the "message" parameter from the URL
        const message = getQueryParam('message') || 'No message received';

        // Display the message in the HTML page
        document.getElementById('message').textContent = message;
    </script>
</body>
</html>