<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home Page</title>
</head>

<body>
    <header>
        <a href="/" id="home">Home</a>
        <h1>Register</h1>
    </header>
    
    <form action="/register" method="post">
        First Name: <input type="text" name="fname" required><br><br>
        Last Name: <input type="text" name="lname" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        Username: <input type="text" name="username" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        <input type="submit" value="resgister">
    </form>

    <p id="message">message</p>

    <footer>
        <a href="/login">Login</a>
    </footer>
    


    <script>
        // Function to get query parameters from the URL
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Get the "message" parameter from the URL
        const message = getQueryParam('message') || 'No message received';

        // Display the message in the HTML page
        document.getElementById('message').textContent = message;
    </script>
</body>
</html>