header {
    background-color: #1a1a1a;
    color: hsl(0, 0%, 100%);
    padding: 1em;
    margin-bottom: 10px;
    
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecffe1;
    text-align: center;
}
main {
    padding: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin: 0 10px;
    color: #8ab4f8;
    filter: saturate(200%);
    filter: brightness(120%) contrast(120%);
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#home{
    position: absolute;
    top: 10px; /* Adjust this value as needed */
    left: 10px; /* Adjust this value as needed */
    color: #8ab4f8;
    
}
#taxf, #predictf, #hourlyf, #bagf, #ejf{
    text-align: left;
    display: block;
    display: inline-block;

}
input, select{
    margin-bottom: 10px;
}

.text{
    color: #666;
}

.sidebar {
    /* Set width, height, and other styling properties */
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Set height to fill the entire height of the sidebar */
    background-color: #272727; /* Background color for the sidebar */
    color: #fff; /* Text color */
    padding: 20px; /* Padding for content inside the sidebar */
    box-sizing: border-box; /* Include padding and border in the total width and height */
    color: #f4f4f4;
    position: fixed;
    top: 112px;
    bottom: 0;
    left: 0;
    opacity: 100%;
    
  }
  
  /* Example styling for the content inside the sidebar */
  .sidebar button {
    font-size: 18px;
    margin-bottom: 10px;
    width: 180px;
  }
  
  .sidebar p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .sidebar h2 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }